<!Doctype html>

<html xmlns:th="http://thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Spring MVC Application - Create Post</title>
</head>

<header th:replace="layout :: logged-in"></header>

<body>
    <h1>Create New Post</h1>

    <form method="post" th:action="@{/posts/create}">
        <div>Post Title:</div>
        <div><input type="text" id="title" name="title" /></div>

        <div>Description:</div>

        <div><textarea rows="7" cols="100" name="body"></textarea></div>

        <div>
            <input type="checkbox" name="SpringBlog" value="Spring Blog"/>Spring Blog
            <input type="checkbox" name="JavaBlog" value="Java Blog"/>Java Blog
        </div>

        <div>
            <input type="submit" value="Submit"/>
        </div>
    </form>

</body>
</html>